# Project specific
src/vendor/ui/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
pyenv/
build-*/
dist/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sphinx documentation
docs/_build/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.grunt
.lock-wscript
.nyc_output
nosetests.xml
coverage.xml
*,cover

# Javascript / NodeJS
node_modules/
jspm_packages/
bower_components/
typings/
.eslintcache
.npm
.node_repl_history
.yarn-integrity

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Translations
*.mo
*.pot

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# JetBrains

*.iml
.idea/
*.ipr
*.iws

# Kate
.*.kate-swp
.swp.*

# SublimeText

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Vim

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Xcode

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate

# Linux
*.tgz
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# MacOS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Backup files
*.bak
